name: SPHINC+

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - ci

env:
  OPAMROOT: /home/charlie/.opam
  OPAMYES: true
  OPAMJOBS: 2
  ECRJOBS: 1

jobs:
  ec:
    name: Check SPHINC+ EasyCrypt Project
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/easycrypt/ec-build-box
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - uses: actions/checkout@v4
      name: Checkout EasyCrypt
      with:
        repository: EasyCrypt/easycrypt
        ref: refs/heads/main
        path: easycrypt
    - name: Update OPAM & EasyCrypt dependencies
      run: |
        opam update
        opam pin add -n easycrypt easycrypt
        opam install --deps-only easycrypt
    - name: Compile & Install EasyCrypt
      run: opam install easycrypt
    - name: Detect SMT provers
      run: |
        opam config exec -- easycrypt why3config -why3 ~/.why3.conf
    - name: Compile Project
      run: opam config exec -- easycrypt runtest -jobs 1 -report report.log -raw-args -gcstats tests.config sphincsplus
    - uses: actions/upload-artifact@v4
      name: Upload report.log
      if: always()
      with:
        name: report.log
        path: report.log
        if-no-files-found: ignore
